docker.enabled = true

params {
    filter_threshold_modkit = 0.75
    outdir = "results"
}

process {
    withName: bam2fastq                     { container = 'rkimf1/minimap2-samtools:2.28--4176384' }

    withName: minimap2                      { container = 'rkimf1/minimap2-samtools:2.28--4176384' }

    withName: index                         { container = 'rkimf1/minimap2-samtools:2.28--4176384' }

    withName: modkit_pileup                 { container = 'ontresearch/modkit:latest' }

    withName: modkit_pileup_bedgraphs       { container = 'ontresearch/modkit:latest' }

    withName: modkit_find_motifs            { container = 'ontresearch/modkit:latest' }

    withName: custom_bedgraphs              { container = 'rkimf1/biopython:3.8--ddb84ec' }
}

