params.name = 'world'

docker.enabled = true


params {
    filter_threshold_modkit = 0.75
}


process {
    withName: bam2fastq   { container = 'nanozoo/samtools:1.20--d1e21ae' }

    withName: minimap2    { container = 'nanozoo/minimap2:2.28--9e3bd01' }
 
    withName: sort        { container = 'nanozoo/samtools:1.20--d1e21ae' }

    withName: index       { container = 'nanozoo/samtools:1.20--d1e21ae' }

    withName: index       { container = 'ontresearch/modkit:latest' }
}