process {
    withLabel: minimap2     { cpus = 8 ; memory = '20 GB' } 
    withLabel: modkit       { cpus = 12; memory = { 50.GB * task.attempt }; maxRetries = 1 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' } }
    withLabel: biopython    { cpus = 1 ; memory = '4 GB' }
    withLabel: modkit_low   { cpus = 12 ; memory = '10 GB'; time = '5h' }
}

